@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

*{
    padding: 0px;
    margin: 0px;
}
html,body {
    min-height: 100vh;    
  
}
#title{
    font: normal 700 10vh "Passion One";
    margin-bottom: 10px;
}
header{
    font-family: Verdana;
    font-weight: bold;
    text-align: center;
    padding: 20px;

}
.preto{
    background-color: black;
    color: white;
    padding: 50px;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
}
section{
   padding-top: 10vh;
   padding-bottom: 10vh;
   padding-left: 30px;
   line-height: 2em;
   font-size: 4.5vh;
   font-family: "Sriracha";
}
#img01{
    background: black url(imagens/background001.jpg) center center no-repeat fixed;
    background-size: cover;
    box-shadow: inset 2px 5px 5px rgba(0, 0, 0, 0.377);
    
}
#img02{
    background: black url(imagens/background002.jpg) center center no-repeat fixed;
    background-size: cover;
    box-shadow: inset 2px 5px 5px rgba(0, 0, 0, 0.377);
    
}
section.ftrasnparente > p{
    display: inline-block;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.295);
    line-height: 2em;
    color: white;       
}
footer{
    background-color: black;
    color: white;
    font-family: Verdana;
    text-align: center;
    padding: 20px;
}